body{
    font-family: 'Raleway';
}

/* Cabeçalho*/
header{
    position: sticky;
    top: 0;
}

.bg-light{
    --bs-bg-opacity: 1;
    background-color: rgb(255,255,255)!important;
}

.navbar{
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
}

.navbar-brand{
    margin-right: 3rem;
    margin-left: 0.5%;
    font-size: 1rem;
    font-weight: bold;
}

.nav-item{
    padding-left: 0.5rem;
}

.logo-img{
    width: 2.5rem;
    height: 1.9rem;
    background-image: url(../img/logo.jpg);
    background-repeat: round;
}

/*Elementos comuns em todas as páginas*/

main{
    height: 100vh;
    padding: 1rem 2.5rem 1rem 3rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    
}

.container{
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.left{
    width: 20vw;
    justify-content: center;

}

.titulo{
    box-sizing: border-box;
    border-right: solid 2px rgb(0, 0, 0);
    padding-right: 2rem;
}

.tituloC{
    text-align: left;
    font-size: 2rem;
    width: 11vw;
}

.subtitulo{
    text-align: left;
    font-size: 1rem;
}

.right{
    width: 80vw;
    justify-content: flex-start;
}

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    box-sizing: border-box;
    font-size: 80%;
    background-color: rgb(255,255,255);
}

/*Página index*/
.imagens-titulo{
   width: 85%;
   height: 3.5rem;
   flex-direction: row;
   align-items: flex-start;
   justify-content: space-between;
   margin-top: 1rem;
   padding-left: 0;
}

.logo{
    width: 3.8rem;
    height: inherit;
    box-sizing: content-box;
}

.i-html{
    background-image: url("../img/logo-html.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.i-css{
    background-image: url("../img/logo-css.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.i-js{
    background-image: url("../img/logo-js.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}