html, body, .container{
    height: 100%;
}

body{
    font-family: 'Raleway';
}

/* Cabeçalho*/


.bg-light{
    --bs-bg-opacity: 1;
    background-color: rgb(255,255,255)!important;
}

.navbar{
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
}

.navbar-brand{
    margin-right: 3rem;
    margin-left: 0.5%;
    font-size: 1rem;
    font-weight: bold;
}

.nav-item{
    padding-left: 0.5rem;
}

.logo-img{
    width: 2.5rem;
    height: 1.9rem;
    background-image: url(../img/logo.jpg);
    background-repeat: round;
}

/*Elementos comuns em todas as páginas*/
main{
    height: inherit;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.container-fluid{
    height: inherit;
    box-sizing: border-box;
    display: inherit;
    align-items: inherit;
    margin: 0;
    padding: 0;
    border: 0;
}

.row{
    width: inherit;
    height: inherit;
    box-sizing: border-box;
    display: inherit;
    align-items: inherit;
    justify-content: space-between;
    border: inherit;
    margin: inherit;
    padding: inherit;
}

.left{
    justify-content: center;
    height: inherit;
    display: inherit;
    align-items: flex-start;
    flex-direction: column;
}

.titulo{
    box-sizing: border-box;
    width: 100%;
    height: inherit;
    margin: inherit;
    border: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
}

.colunaP{
    border-right: solid 2px #000 ;
}

.tituloC{
    text-align: left;
    font-size: 2rem;
}
.subtitulo{
    text-align: left;
    font-size: 1rem;
}

.right{
    height: inherit;
    display: inherit;
    align-items: inherit;
    flex-direction: column;
    justify-content: flex-start;
}

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    box-sizing: border-box;
    font-size: 80%;
    background-color: rgb(255,255,255);
}

/*Página index*/
.imagens-titulo{
   width: 210px;
   height: 4rem;
   display: grid;
   grid-template-columns: 70px 70px 70px;
   margin-top: 1rem;
   margin: inherit;
   border: inherit;
   box-sizing: border-box;
   background-color: rgb(255,255,255);
}  

.i-html{
    height: inherit;
    box-sizing: content-box;
    background-image: url("../img/logo-html.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.i-css{
    height: inherit;
    box-sizing: content-box;
    background-image: url("../img/logo-css.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.i-js{
    height: inherit;
    box-sizing: content-box;
    background-image: url("../img/logo-js.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

a{
    color: inherit;
}

.conteudo{
    width: 100%;
    margin: 0;
}

.inicio{
    padding: 1.5rem 0 1px 0;
    font-size: 1.3rem;
    font-weight: bold;
}


.linguagens{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.box-conteudo{
    width: 18rem;
    height: 29rem;
    margin: 1rem ;
    border: solid 1px rgba(202, 202, 202, 0.877);
    padding: 1rem;
    background-color: rgba(12, 136, 158, 0.493);
}


/*Página quem sou*/
.perfil{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.box-perfil{
    width: 22rem;
    height: 30rem;
    margin: 2rem;
    border: solid 1px rgba(202, 202, 202, 0.877);
    border-radius: 16px;
    padding: 0;
}

.top{
    box-sizing: content-box;
    width: 100%;
    height: 40%;
    border-radius: inherit;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.user1{
    background-image: url("../img/fundo-esther.jpeg");
    background-repeat: round;
    
}

.user2{
    background-image: url("../img/fundo-iad.jpg");
    background-repeat: round;
}

.position-absolute{
    top: 20%;
    left: 1%;
}

.foto1 {
    width: 100%;
    padding-top: 100%;
    border: 2px solid rgb(255,255,255);
    border-radius: 100%;
    background-color: rgb(238, 238, 238);
    box-sizing: content-box;
    margin-left: -1px;
    background-image: url("../img/foto-esther.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.foto2 {
    width: 100%;
    padding-top: 100%;
    border: 2px solid rgb(255,255,255);
    border-radius: 100%;
    background-color: rgb(238, 238, 238);
    box-sizing: content-box;
    margin-left: -1px;
    background-image: url("../img/foto-iad.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}


.bottom{
    box-sizing: content-box;
    width: 100%;
    height: 40%;
    border-radius: inherit;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding-top: 6.9rem;
}

.titulo-perfil{
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    margin: auto;
}

.conteudo-perfil{
    margin: auto;
    text-align: center;
    width: 18rem;
    font-size: 0.9rem;
}

.idade{
    padding-bottom: 0.8rem;
}

.contato{
    box-sizing: border-box;
    width: 50%;
    height: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
} 

.icones-redes-sociais{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}

li{
   margin: 0.2rem;
}

.icones-redes-sociais a {
    width: 15px;
    height: 15px;
    display: flex;
    flex-direction: row;
    text-indent: -99999px;
}

.github{
    background-image: url("../img/github.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.linkedin{
    background-image: url("../img/linkedin.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}