body{
    font-family: 'Raleway';
}

/* Cabeçalho*/
header{
    position: sticky;
    top: 0;
}

.bg-light{
    --bs-bg-opacity: 1;
    background-color: rgb(255,255,255)!important;
}

.navbar{
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
}

.navbar-brand{
    margin-right: 3rem;
    margin-left: 0.5%;
    font-size: 1rem;
    font-weight: bold;
}

.nav-item{
    padding-left: 0.5rem;
}

.logo-img{
    width: 2.5rem;
    height: 1.9rem;
    background-image: url(../img/logo.jpg);
    background-repeat: round;
    margin-bottom: 0.3125rem;
}

/*Elementos comuns em todas as páginas*/

main{
    height: 100vh;
    padding: 1rem 2.5rem 1rem 3rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    
}

.container{
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.left{
    width: 20vw;
    justify-content: space-between;

}

.titulo{
    box-sizing: border-box;
    border-right: solid 2px rgb(0, 0, 0);
    padding-right: 5rem;
}

.tituloC{
    text-align: left;
    font-size: 2rem;
    width: 11vw;
}

.subtitulo{
    text-align: left;
    font-size: 1rem;
}

.right{
    width: 80vw;
    flex-direction: column;
    justify-content: flex-start;
}

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    box-sizing: border-box;
    font-size: 80%;
    background-color: rgb(255,255,255);
}
/*Página index*/
